:root {
  --font-body: "Raleway", sans-serif;

  /* colors */
  --primary-color: #1e213a;
  --secondary-color: #100e1d;
  --tertiary-color: #6e707a;
  --primary-font-color: #fff;
  --secondary-font-color: #a09fb1;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.85em;
  --large-font: 1.5em;
  --very-large-font: 6em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--primary-font-color);
}

img {
  max-width: 100%;
}

/* Sidebar */
#sidebar {
  display: none;
}

/* Current Weather */
#current-weather {
  height: 100vh;
  padding: 2rem 0;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 80% 20%;
  justify-items: center;
  align-items: center;
}

#current-weather > div:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2rem;
}

#btn-search {
  align-self: flex-start;
  padding: 10px;
  width: 170px;
  background-color: var(--tertiary-color);
  color: var(--primary-font-color);
  border: none;
  cursor: pointer;
  font-size: var(--small-font);
}

#btn-location {
  height: 40px;
  padding: 8px;
  background-color: var(--tertiary-color);
  color: var(--primary-font-color);
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

#btn-location > img {
  height: 100%;
}

#current-img-container {
  padding: 1rem 0;
  grid-column: 1/3;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

#current-img-container::after {
  content: "";
  opacity: 0.05;
  background-image: url("/images/Cloud-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140% 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#current-img {
  width: auto;
  height: 100%;
}

#current-weather > h1 {
  grid-column: 1/3;
  grid-row: 3/4;
  font-size: var(--very-large-font);
  font-weight: bold;
  font-weight: 500;
}

#current-weather > h1 > span {
  font-size: 0.6em;
  color: var(--secondary-font-color);
  font-weight: 500;
}

#current-description {
  grid-column: 1/3;
  grid-row: 4/5;
  font-size: var(--large-font);
  color: var(--secondary-font-color);
  font-weight: 600;
}

#current-date {
  grid-column: 1/3;
  grid-row: 5/6;
  font-size: var(--small-font);
  color: var(--secondary-font-color);
  display: flex;
  align-items: center;
  gap: 1rem;
}

#current-location {
  grid-column: 1/3;
  grid-row: 6/7;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

#current-location > img {
  width: 1.5rem;
}

/* Forecast */
#forecast {
  background-color: var(--secondary-color);
  min-height: 100vh;
}

#forecast-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: fit-content;
  margin: auto;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.forecast-card {
  height: 160px;
  width: 120px;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  font-weight: 500;
  font-size: var(--small-font);
}

.forecast-card > span:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}

.forecast-card > img {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 70%;
}

.forecast-card > span:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}

.forecast-card > span:nth-child(4) {
  grid-column: 2/3;
  grid-row: 3/4;
}
